
.board {
     
    width: 90%; 
    height: 100px; 
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap; 
    margin: 60px auto; 
    } 
    
    .board img { 
   
    width: 200px; 
    height: 300px; 
    margin: 10px; 
    
    transition: transform 0.5s,border-radius 0.2s, box-shadow 0.2s; 
    
    } 

    .board img:hover{
     transform: scale(1.1);
     border-radius: 7%;
     box-shadow:0px 0px 10px 5px rgb(225, 255, 0) ;
     cursor: pointer;
    }
    
    
    .board img.flip { 
    transform: translatey(-20px) rotateY(180deg); 
    border-radius: 10%;
    } 
    
    .popup { 
    background: red; 
    width: 100px; 
    height: 100px; 
    position: fixed;
    z-index:20;
    top: 100px;
    left: 100px; display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    }
    
    .data { 
       
    display: flex; 
    justify-content: space-between; 
    padding: 20px 30px; 
    font-size: 23px; 
    } 
    
    .data span { 
    color: rgb(206, 121, 11);
    font-size: 30px; 
    }

    
    body{
        background-color: #023047;
        
        background-size: cover;
    }